.search-results {
  &.mobile-search-result {
    .search-results__manufacturer,
    .search-results__model,
    .search-results__engine,
    .search-results__year,
    .search-results__transmission {
      flex-shrink: 0;
      flex-grow: 0;
    }
    .search-results {
      &__manufacturer {
        flex-basis: 15%;
      }
      &__model {
        flex-basis: 10%;
      }
      &__engine {
        flex-basis: 35%;
      }
      &__year{
        flex-basis: 25%;
      }
      &__transmission{
        flex-basis: 15%;
      }
    }

    .already-in-bucket {
    }
    .search-results__body-row-item-optional {
      
      // display: none;
      width: 100%;
    }
  }
  &.desktop-search-result {
    position: absolute;
    width: 100%;
    left: 0;
    top: 48px;

  }
  &__manufacturer,
  &__model,
  &__engine,
  &__year,
  &__transmission {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

  }
  &__manufacturer {
    flex-basis: 12.12%;
  }
  &__model {
    flex-basis: 12.22%;
  }
  &__engine {
    flex-basis: 24%;
  }
  &__year {
    flex-basis: 15.57%;
  }
  &__transmission {
    flex-basis: 10.69%;
  }

  margin-top: 4px;
  position: relative;
  z-index: 1;
  background: $white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.30214);
  font-family: "PT Sans";
  &__header,
  &__body-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    box-shadow: inset 0px -1px 0px #efefef;
    &:hover {
      background-color: $hint-of-green;
    }
    &-item {
      padding: 8px 0;
      flex-grow: 1;
      &:first-child {
        padding-left: 24px;
      }
    }
  }
  &__header {
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: $bold-dove-gray;
    padding: 5px 0 1px;
    background: #f4f4f4;
  }
  &__body {
    font-size: 17px;
    line-height: 24px;
    color: $black;
    &-row {
      &-item-optional {
        position: absolute;
        right: 8px;
        height: 100%;
        display: flex;
        align-items: center;
        .already-in-bucket {
          background: $white;
          border: 1px solid $alto-approx;
          box-sizing: border-box;
          border-radius: 2px;
          padding: 4px;
          display: flex;
          cursor: pointer;
          .shopping-bucket-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9999 10C13.5588 10 14 10.4411 14 10.9999C14 11.5589 13.5588 12 12.9999 12C12.4412 12 12 11.5589 12 10.9999C12 10.4411 12.4115 10 12.9999 10ZM7 10C7.55882 10 8 10.4411 8 10.9999C8 11.5589 7.55882 12 7 12C6.44118 12 6 11.5589 6 10.9999C6 10.4411 6.44118 10 7 10ZM7 9C5.8932 9 5 9.91258 5 10.9999C5 12.0874 5.91262 13 7 13C8.08738 13 9 12.0874 9 10.9999C9 9.91258 8.1068 9 7 9ZM13 9C11.8932 9 11 9.91258 11 10.9999C11 12.0874 11.9126 13 13 13C14.0876 13 15 12.0874 15 10.9999C15 9.91258 14.0876 9 13 9ZM0.597802 0.0173156C0.263736 0.0173156 0 0.27705 0 0.606048C0 0.935045 0.263736 1.19478 0.597802 1.19478H2.28571L3.86813 7.09941C4.00879 7.6362 4.48352 8 5.04615 8H6.38242H12.5187H13.2747C13.8198 8 14.2769 7.6362 14.4352 7.13422L16 1.80083H14.7341L13.2747 6.80505H5.04615L3.46374 0.900587C3.32308 0.363628 2.84835 0 2.28571 0H0.597802V0.0173156Z' fill='rgb(104, 104, 104)'/%3E%3C/svg%3E");
            padding-right: 20px;
            width: 16px;
            background-position: left;
            background-repeat: no-repeat;
          }
          .items-in-bucket {
            font-family: "PT Sans";
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: $bold-dove-gray;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .search-results {
    top: 40px;
    width: 100%;
    position: absolute;
    &__header,
    &__body-row {
      &-item {
        &:first-child {
          padding-left: 8px;
        }
      }
    }
    &__header {
      font-size: 8px;
      line-height: 12px;
      letter-spacing: 1.77778px;
    }
    &__body {
      font-size: 14px;
      line-height: 16px;
      &-row {        
        &-item-optional {
          position: relative;
          left: 8px;
          right: 0;
          padding-bottom: 8px;
        }
      }
    }
  }
}
