/**
**
** resource that will help you with variables naming -->> http://chir.ag/projects/name-that-color
**
**/

// yellow - orange #region
$buttermilk: #fff1b9;
$gold-approx: #ffd600;
$supernova-approx: #ffc600;
$amber-approx: #ffc300;
$turbo-approx: #ffea00;
$tangerine-approx: #e29401;

// red
$punch-approx: #DC3545;

// green #region
$hint-of-green: #e0ffe3;
$malachite: #0cb520;

// white - black #region
$white: #ffffff;
$gallery-solid: #efefef;
$gallery-approx: #eeeeee;
$mercury-approx: #e8e8e8;
$concrete-solid: #f2f2f2;
$concrete-approx: #f3f3f3;
$alabaster-approx: #f9f9f9;
$alto-approx: #d2d2d2;
$star-dust: #a3a3a2;
$silver-chalice: #a6a6a6;
$dusty-gray: #9b9b9b;
$dove-gray: #727272;
$bold-dove-gray: #686868;
$boulder: #767676;
$light-dove-gray: #646464;
$scorpion-approx: #595959;
$grey: rgba(50, 50, 48, .2);
$mine-shaft: #383838;
$SilverChalice: #aeaeae;
$black: #323230;
$wild-sand: #F4F4F4;

