html,
body {
    background-color: #383838;
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.modal-open {
    overflow: hidden;
}

#app {
    height: 100%;
}

:focus {    
    outline-color: $malachite;    
}
