.log-in-content {
    padding: 0 24px 0 24px;
    flex-direction: column;
    .title {
        font-size: 24px;
        margin: 40px 0 16px 0;
        
        text-align: left;
    }
    .log-in-form {
        padding-right: 18%;
        .remember-password {
            display: flex;
            justify-content: flex-end;
            &-text {
                font-size: 16px;
                color: $malachite;
                border-bottom: 1px dashed $malachite;
            }
            margin-bottom: 16px;
        }
        .btn-log-in {
            margin: 24px 0 16px 0;
            width: 400px;
        }
    }
    .want-to-reg {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
        .go-to-reg {
            margin-left: 5px;
            color: $malachite;
            border-bottom: 1px dashed $malachite;
            cursor: pointer;
        }
    }
    @media (max-width: 768px) {
        .title {
            font-size: 20px;
            margin: 40px auto 16px auto;
        }
        .log-in-form {
            padding-right: 0;
            .btn-log-in {
                width: 100%;
            }
        }
        .want-to-reg {
            flex-direction: column;
            .go-to-reg {
                margin-top: 5px;
                margin-left: 0px;
                
            }
        }
    }
}