.restore-content {
    flex-direction: column;
    padding: 24px;
    color: $black;
    .title {
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 16px;
    }
    .tip {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
    }
    .reset-block {
        .reset-form {
            display: flex;
            flex-direction: row;
            width: 100%;
            .reset-input {
                border-radius: 2px;
                padding: 0.675rem .75rem;
                border-width: 0;
                border: 1px solid $alto-approx;
                background-color: $white;
                margin-right: 8px;
                width: calc(100% - 207px);
            }
            .reset-btn {
                width: 237px;
                line-height: 1.41;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 768px) {
    .restore-content {
        .title {
            text-align: center;
        }
        .tip {
            text-align: center;
        }
        .reset-block {
            .reset-form {
                display: flex;
                flex-direction: column;
                width: 100%;
                .reset-input {
                    margin-bottom: 8px;
                    width: 100%;
                }
                .reset-btn {
                    width: 100%;
                    line-height: 1.41;
                    font-size: 17px;
                }
            }
        }
    }
}