.content {
    width: 100%;
    min-height: 300px;
    background-color: $concrete-solid;
    position: relative;
    .content-wrapper {
        display: flex;
        align-items: flex-start;
        padding: 24px 0;
        .aside-content {
            width: calc(100% - 74.3% - 26px);
            margin-right: 26px;
            display: flex;
            flex-direction: column;
        }
        .main-content {
            width: 74.3%;
        }
    }
    .static {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(15, 205, 90, 0.5);
        font-weight: bold;
        color: white;
        font-size: 50px;
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    .content {
        .content-wrapper {
            flex-direction: column;
            .aside-content,
            .main-content {
                width: 100%;
                padding: 0 8px;
            }
        }
    }
}


